<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8">
    <%= form_with(model: provider, local: true) do |form| %>
      <div class="card card-fluid">
        <h6 class="card-header">
          <%= v_t('form_title') %>
        </h6>
        <div class="card-body">
          <%= render 'shared_form_partials/error_messages', object: form.object %>

          <%= form_text_field(form, 'name', true) %>
          <%= form_select_field_prompt(form, 'country_id', form_select_options(countries, 'id', 'name'), provider.country_id, false, 'country') %>
          <%= form_checkbox_field_in_switch(form, 'active') %>
          <%= form_text_field(form, 'delivery_condition') %>
          <%= form_text_field(form, 'return_policy') %>
        </div>
        <%= render 'shared_form_partials/save_button', form: form %>      
      </div>
    <% end %>
  </div>
</div>