<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card card-fluid">
      <h6 class="card-header"> <%= v_t('title') %> </h6>
      <div class="card-body">
        <div class="text-right">
          <%= link_to ('<i class="fas fa-plus"></i> '+v_t('new_link')).html_safe, new_country_path %>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th><%= ar_t('country.country_id') %></th>
                <th><%= ar_t('country.name') %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @countries.each_with_index do |country, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= country.country_id %></td>
                  <td><%= country.name %></td>
                  <td><%= link_to v_t('show_link'), country %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <div>
</div>
